
body {
    font-family: Georgia, 'Times New Roman', Times, serif color;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
}
h2 {
    text-align: center;
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
    padding: 1rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
}
.main {
    padding-top: 12rem;
}
.imagen_home {
    height: 550px;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navegacion ul li a:hover {
    background: #4a4a4a;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.2em;
}
.imagen_logo {
    width: 10%;
    align-items: center;
}
.footer{
    background:#f2f2f2;
    padding:4rem 0;
    text-align:center;
    margin-top: 6rem;
}

.footer div ul {
    background: #f2f2f2;
    list-style: none;
    align-items: center;
}

.footer div p {
    align-items: center;

}




@media only screen and (max-width: 767px) {
    .navegacion {
        width: 100%;
        margin-top: 1rem;
    }

    .navegacion ul.show {
        display: block;
    }

    .navegacion ul li {
        display: block;

    }

    .navegacion ul li a {
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .logo {
        letter-spacing: 15px;
        font-size: 1.5em;
    }

    .logo-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }