.conteiner_establecimiento {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px;
    align-items: center;
    .imagen_item4 {
        grid-column: 1/4;
    }
    .imagen_futbol {
        margin: 40px auto;
        width: 250px;
        height: 250px;
        object-fit: cover;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 150px;
    
        justify-items: center
    }
    
    .imagen_padel {
        margin: 40px auto;
        width: 250px;
        height: 250px;
        object-fit: cover;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 150px;
    
        justify-items: center;
    }
}