h1 {
    font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
    margin: 3rem
}

h2 {
    text-align: center;
    margin: 3rem
}
h3 {
    text-align: center;
    margin: 2rem
}

p {
    color: black;
    margin-bottom: 1.6em;
    text-align: center;
}